.*

!.github
!.run
!.editorconfig
!.gitignore
!.pre-commit-config.yaml
!.pre-commit-hooks.yaml
!.gitkeep

*.egg-info
__pycache__
/dist/
/build/
/coverage.*
*.orig

# This is a library, not an application, so don't add the lock file into the repository:
uv.lock

# test project:
/local_test/
secret.txt
