.*

!.github
!.run
!.editorconfig
!.gitignore
!.pre-commit-config.yaml
!.pre-commit-hooks.yaml
!.gitkeep

*.egg-info
__pycache__
/dist/
/build/
/coverage.*
*.orig

# If this is a library and not an application, add:
#uv.lock
